body {
    max-width: 100%;
}

img {
    max-width: 100%;
}

#name {
    color: white;
    position: absolute;
    font-size: 35px;
    opacity: 0.9;
}

#self-portrait {
    position: absolute;
    bottom: -130px;
    height: 250px;
    border-radius: 120px;
    border: solid 8px white;
}

#hero-image {
    margin-top: 15px;
}

.container {
    width: 100%
}

#job {
    font-size: 0.65em;
}

.icons {
    height: 45px;
    margin: 20px 0 40px 0;
}

.dark-bg {
    background-color: whitesmoke;
}

.subheading {
    text-align: center;
    color: black;
    padding: 20px 0 50px 0;
    margin: 0;
}

.portfolio-cards {
    padding: 0 0 250px 20px;
    text-align: center;
}

.fa-icons {
    font-size: 12em;
    display: block;
    text-align: center;
}

ul {
    text-align: center;
}

.language-list {
    width: 150px;
    margin: auto;
}

input, textarea {
    padding: 5px;
    width: 100%;
    display: block;
    box-shadow: 2px 2px 5px black;
    margin-top: 18px;
}

form {
    width: 40%;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.box-decoration {
    width: 80%;
    margin: 35px auto 75px auto;
    border-radius: 15px;
    border: solid black 2px;
    box-shadow: 10px 10px 20px #C2C2C2;
    background-color: whitesmoke;
}

.box-decoration ul {
    padding: 20px;
}

li {
    list-style-type: none;
}
.coming-soon {
    margin: 100px;
}

#submit-button {
    width: 30%;
    margin: 30px auto 30px auto;
    border-radius: 20px;
    box-shadow: 2px 1px 5px black;
}

.border-right {
    border-right: 5px dashed black;
}

/* MEDIA QUERIES */

@media (max-width:580px) {
    #hero-image {
        display: none;
    }
    #self-portrait {
        display: none;
    }
    .about, form {
        width: 90%;
        margin: auto;
    }
    .icons {
        height: 50px;
        padding: 0 5px;
    }
    .icon-container {
        width: 275px;
        margin: auto;
    }
}

@media (min-width: 581px) and (max-width: 768px) {
    #hero-image {
        display: none;
    }
    #self-portrait {
        height:auto;
        width: 24%;
        right: 30px;
        top: 90px;
    }
    #name {
        display: none;
    }
    form {
        width: 70%;
        margin: auto;
    }
    .about {
        width: 55%;
        margin: 0 0 0 13%; 
    }
    .icons {
        height: 65px;
    }
    .icon-container {
        width: 300px;
        margin: auto;
    }
}

@media (min-width: 769px) and (max-width: 991px) { 
    #name {
        display: inline;
        bottom: 10px;
        width: 80%;
        margin-left: 10%;
    }
    #self-portrait {
        display: none;
    }
    .about, .icon-container {
        width: 80%;
        margin: auto;
    }
}

@media (min-width:992px) {
    #name {
        display: inline;
        color: white;
        bottom: 10px;
    }
    form {
        width: 30%;
    }
}